{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>PETS GALLERY</title>
<link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" />
</head>

<body>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td align="center" valign="top" class="body_main"><table width="900" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>
                <td align="left" valign="top" class="header"><table width="900" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="190" align="left" valign="top" class="logo"><a href="{% static 'index.html' %}"><img src="{% static 'images/logo.gif' %}" alt="PETS GALLERY" width="300" height="33" border="0" title="PETS GALLERY" /></a></td>
                        <td align="right" valign="top"><table width="355" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td align="left" valign="top" class="search"><form name="f1" action="" method="post" enctype="multipart/form-data"><table width="294" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td width="60" align="left" valign="top"><label>Search</label></td>
                                        <td width="196" align="left" valign="top"><input type="text" class="searchbox" /></td>
                                        <td align="left" valign="middle"><input type="image" src="{% static 'images/go_button.gif' %}" title="Go" /></td>
                                    </tr>
                                </table></form></td>
                            </tr>
                            <tr>
                                <td align="left" valign="top" class="header_text">
								<h2>Aenean nec nisl a purus</h2>
								<p><span>Sed dolor. Duis blandit congue sem btora adstro</span>quis augue. In hac habitasse platea dictumst. Maecenas consectetur nunc aliquet sapien. Integer laoreet ultrices
 metus. Aliquam in enim.</p>
								</td>
                            </tr>
                        </table></td>
                    </tr>
                </table></td>
            </tr>
            <tr>
                <td align="center" valign="top"><table width="600" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td align="left" valign="top" class="nav">
						<ul>
						<li><a href="{% static 'index.html' %} " title="Home" class="active">Home</a></li>
						<li><a href="#" title="About Us">About Us</a></li>
						<li><a href="#" title="Doctor">Doctor</a></li>
						<li><a href="#" title="Foods">Foods</a></li>
						<li><a href="#" title="Contact Us">Contact Us</a></li>
						</ul>
						</td>
                    </tr>
                    <tr>
                        <td align="left" valign="top" class="welcome"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td align="left" valign="top" class="welcome_heading">Welcome To Our Pets Gallery</td>
                            </tr>
                            <tr>
                                <td align="left" valign="top" class="welcome_text"><p class="welcome_body"><a href="#">Donec eget tellus nec tellus accumsan faucibus Phasellus et odio a risus</a> Curabitur iaculis ligula vel ligula. Vestibulum tristique, felis in gravida sodales, neque mi accumsan urna, vitae tincidunt nunc urna nec urna. Sed lobortis lectus. Loremor ipsum dolor sit amet, consectetur adipiscing elittempus.</p>
								<p class="read"><a href="#" title="Read More">Read More</a></p>
								</td>
                            </tr>
                        </table></td>
                    </tr>
                </table></td>
            </tr>
            <tr>
                <td align="left" valign="top" class="body"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="288" align="left" valign="top">
						<h2 class="news">News &amp; Events</h2>
						<p class="news_text"><span>12-12-2008</span>Aenean nec nisl a purus varius lacinia. Nulla asw tempor est a orci. Nam ac sapien non diam aliquet<br /> molestie.<a href="#" title="Read More">Read More</a></p>
						<p class="news_text"><span>13-12-2008</span>Aenean nec nisl a purus varius lacinia. Nulla asw tempor est a orci. Nam ac sapien non diam aliquet<br /> molestie.<a href="#" title="Read More">Read More</a></p>
						<p class="news_text"><span>14-12-2008</span>Aenean nec nisl a purus varius lacinia. Nulla asw tempor est a orci. Nam ac sapien non diam aliquet<br /> molestie.<a href="#" title="Read More">Read More</a></p>
						<p class="news_text"><span>15-12-2008</span>Aenean nec nisl a purus varius lacinia. Nulla asw tempor est a orci. Nam ac sapien non diam aliquet<br /> molestie.<a href="#" title="Read More">Read More</a></p>
						</td>
                        <td width="612" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td align="left" valign="top" ><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td align="left" valign="top" class="service_heading">Our Service</td>
                                    </tr>
                                    <tr>
                                        <td align="center" valign="top"><table width="592" border="0" align="center" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td width="183" align="left" valign="top"><table width="183" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td height="107" align="left" valign="top"><img src="{% static 'images/service_pic01.jpg' %}" alt="Our Service01" width="183" height="95" title="Our Service01" /></td>
                                                    </tr>
                                                    <tr>
                                                        <td align="left" valign="top">
														<h3>Pets Foods</h3>
														<p class="service_text"><a href="#">Curabitur iaculis ligula vel ligula.</a> Vestibulum tristique, felis in gravida sodales, neque mi accumsan urna, vitae tincidunt nunc urna nec urna.</p>
														</td>
                                                    </tr>
                                                    <tr>
                                                        <td align="center" valign="top" class="view"><a href="#" title="View Details">View Details</a></td>
                                                    </tr>
                                                </table></td>
                                                <td width="22" align="left" valign="top">&nbsp;</td>
                                                <td width="183" align="left" valign="top"><table width="183" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td height="107" align="left" valign="top"><img src="{% static 'images/service_pic02.jpg' %}" alt="Our Service02" width="183" height="95" title="Our Service02" /></td>
                                                    </tr>
                                                    <tr>
                                                        <td align="left" valign="top"><h3>Pets Doctors</h3>
                                                                <p class="service_text"><a href="#">Curabitur iaculis ligula vel ligula.</a> Vestibulum tristique, felis in gravida sodales, neque mi accumsan urna, vitae tincidunt nunc urna nec urna.</p></td>
                                                    </tr>
                                                    <tr>
                                                        <td align="center" valign="top" class="view"><a href="#" title="View Details">View Details</a></td>
                                                    </tr>
                                                </table></td>
                                                <td width="22" align="left" valign="top">&nbsp;</td>
                                                <td width="183" align="left" valign="top"><table width="183" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td height="107" align="left" valign="top"><img src="{% static 'images/service_pic03.jpg' %}" alt="Our Service03" width="183" height="95" title="Our Service03" /></td>
                                                    </tr>
                                                    <tr>
                                                        <td align="left" valign="top"><h3>Pets Training</h3>
                                                                <p class="service_text"><a href="#">Curabitur iaculis ligula vel ligula.</a> Vestibulum tristique, felis in gravida sodales, neque mi accumsan urna, vitae tincidunt nunc urna nec urna.</p></td>
                                                    </tr>
                                                    <tr>
                                                        <td align="center" valign="top" class="view"><a href="#" title="View Details">View Details</a></td>
                                                    </tr>
                                                </table></td>
                                            </tr>
                                            
                                        </table></td>
                                    </tr>
                                    <tr>
                                        <td height="29" align="left" valign="top">&nbsp;</td>
                                    </tr>
                                </table></td>
                            </tr>
                            <tr>
                                <td align="left" valign="top" class="banner">
								<h2>Advice For Dog Care</h2>
								<p class="free_text"><a href="#">Aenean nec nisl a purus varius lacinia. Nulla asw tempor</a> Vestibulum tristique, felis in gravida sodales, neque <a href="#" class="click" title="Click here">Click here</a> </p>
								</td>
                            </tr>
                        </table></td>
                    </tr>
                </table></td>
            </tr>
        </table></td>
    </tr>
    <tr>
        <td align="center" valign="top" class="footer"><table width="450" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td align="center" valign="top">
                
				<ul>
				<li><a href="{%static 'index.html' %}" class="active">Home</a></li>
				<li>|</li>
				<li><a href="#" title="About Us">About&nbsp;Us</a></li>
				<li>|</li>
				<li><a href="#" title="Doctors">Doctors</a></li>
				<li>|</li>
				<li><a href="#" title="Foods">Foods</a></li>
				<li>|</li>
				<li><a href="#" title="Contact Us">Contact&nbsp;Us</a></li>
				</ul>
				</td>
            </tr>
            <tr>
                <td align="center" valign="top"><p>&copy; Copyright information goes here. All rights reserved | Designed by: <a href='http://www.templatekingdom.com/Web-Templates/Animals-And-Pets/'  target="_blank" title="Template Kingdom.com">Template Kingdom.com</a></p></td>
            </tr>
        </table></td>
    </tr>
</table>
</body>
</html>
