<html>
<body>
    <table border="1" width="100%" >
            <tr>
                <td><h1>Ayush chauhan</h1></td>
            </tr>
            <tr>
                <td>
                    <a href="/home">home</a>
                    <a href="/about">about</a>
                    <a href="/contact">contact</a>  
                </td>
            </tr>
            <tr>
                <td>
                    {% block mycontent %}
                    {% endblock %}
                </td>
            </tr>
            <tr>
                <td>Website Developed by Aayush Chauhan</td>
            </tr>
    </table>
</body>
</html>